

h2{
    font-family: 'Caveat', cursive;
    font-size: 2.5rem;
}

.contenedor-img{
    text-align: center;
    transition: all .5s;
     /* ajusta la altura máxima según tus necesidades */
    
}

card-content {
    max-height: 310px; /* ajusta la altura máxima según tus necesidades */
   
  }
.contenedor-img img{
    max-width: 200px;
    filter: drop-shadow(2px 4px 12px rgb(15, 231, 7));
}

table, td{
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    padding: 10px;
}

.title{
    font-weight: bold;
}

.card-text{
    font-size: small;
}
.custom-card {
    height: 100%; /* Establece una altura fija para todas las tarjetas */
  }

  .titulo{
    font-size:  15px;;
    font-weight: bold; 
  }

  .fondo{
    background-image: url('../img/3.gif')
  }
  
  .botonstyle{
    padding-top: 20%;
  }

  .edit-photos{
    padding: 10px;
    width: 100%;
    border-radius: 100px;
  }

  .foter-img{
    width: 5%;
    height: 5%
  }