
h2{
    font-family: 'Caveat', cursive;
    font-size: 2.5rem;
}

.contenedor-img{
    text-align: center;
    transition: all .5s;
     /* ajusta la altura máxima según tus necesidades */
    
}

  .card-content{
    background-color: #ffffff8e;
    border-radius: 10%;
  }
  
  
  .contenedor-img img{
      max-width: 200px;
      filter: drop-shadow(2px 4px 12px rgb(15, 231, 7));
  }
  
  table, td{
      border: 1px solid black;
      border-collapse: collapse;
  }
  
  
  
  .title{
      font-weight: bold;
  }
  
  .card-text{
  font-size: large;
  }

  .titulo{
    font-size:  15px;;
    font-weight: bold; 
  }

  .logo-psj{
    width: 18%;
  }

  .fondo-card{
    background-image: url('../img/fondo-card.png');
  }

  .animacion{
    transition: all 1s;
  transform: perspective(1px) translateZ(0);
  animation: show 0.5s 0s forwards, flutuate 2s 0.5s infinite;
  }
  @keyframes show {
    0% {
      transform: translateY(2000px);
      
    }

    100% {
      transform:  translateY(-16px);
    }
  }

  @keyframes flutuate {
  0% {
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px);
  }
  50% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px) ;
  }
  100% {
    -webkit-transform: translateY(-16px);
    transform: translateY(-16px);
  }
  }

  .fondo-nav{
    margin: 5px;
    background-color: #73D234;
    border-radius: 30px ;
    
}
.fondo-nav:hover{
    background-color: hsla(0, 0%, 100%, 0.65);
    
    
}


  /*style de inicio.jsx */

  .fondo{
    background-image: url('../img/3.gif')
  }
  
  .fondo-2{
    background-image: url('../img/3.gif');
  }

  .botonstyle{
    padding-top: 20%;
  }

  .edit-photos{
    padding: 10px;
    width: 100%;
    border-radius: 100px;
  }

  .foter-img{
    width: 5%;
    height: 5%
  }

  /* diseno about */

  .pistola{
    width: 220px;
    position: absolute;
    top: 80% ;
    left: -3%;
}
.rick-pistola{
    width: 160px;
    position: absolute;
    top: 215% ;
    left: 80%;
}

